<% layout('layout/boilerplate') %>


    <div class="row">
        <h1 class="text-center"></h1>
        <div class="col-md-6 offset-md-3">
            <h1>Edit Campground</h1>

            <form novalidate class="validated-form" enctype="multipart/form-data"
                action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Name of camp: </label>
                    <input required class="form-control" value="<%=camp.title%>" type="text" name="campground[title]"
                        id="title">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location of camp: </label>
                    <input required class="form-control" type="text" value="<%=camp.location%>"
                        name="campground[location]" id="location">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Select Images</label>
                    <input multiple name="images" class="form-control" type="file" id="image" multiple>
                </div>
                <div class="mb-3">
                    <% camp.images.forEach(function(img, i) { %>
                        <img src="<%= img.thumbnail %> " alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input required type="text" class="form-control" placeholder="0.00" aria-label="Username"
                            aria-describedby="price-label" id="price" name="campground[price]" value="<%=camp.price%>">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description: </label>
                    <textarea required class="form-control" type="text" name="campground[description]"
                        id="description"><%=camp.description%> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update</button>
                </div>
            </form>
            <a href="/campgrounds/<%=camp._id%>">Back to Campground</a>
        </div>
    </div>